{% extends 'main.html' %}
<!-- {% load widget_tweaks %} -->

{% block content %}

    <!-- Main Section -->
    <main class="formPage my-xl">
        <div class="content-box">
            <div class="formWrapper">
                <a class="backButton" href="#"><i style="font-size:35px;" class="ri-arrow-left-s-line"></i></a>
                <br>

                <form class="form" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <!-- Input:Text -->
                    <!-- <div class="form__field">
                        <label for="formInput#text">Text Field: </label>
                        <input class="input input--text" id="formInput#text" type="text" name="text"
                            placeholder="Enter text" />
                        {% render_field form.title placeholder='Add a title khoya' class+='input input--text' id='formInput#text' %}
                    </div> -->

                    <div class="form__field">
                        {% for field in form %}
                            <label for="formInput#text">{{field.label}}</label>
                            {{field}}
                        {% endfor %}
                    </div>    
                        
                    <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
                </form>
            </div>
        </div>
    </main>
{% endblock content %}