{% extends 'main.html' %}

{% block content %}

    <!-- Main Section -->
    <main class="formPage my-xl">
        <div class="content-box">
            <div class="formWrapper">
                <!-- <a class="backButton" href="{% url 'user-account' %}"><i style="font-size:35px;" class="ri-arrow-left-s-line"></i></a> -->
                <br>

                <p>Are you sure you want to delete <span style="color: #5aa5b9;">{{object}}</span></p>

                <form class="form" method="POST">
                    {% csrf_token %}

                    <a class="btn btn--sub btn--lg  my-md" href="{{request.GET.next}}"><i style="margin-right: 5px;" class="ri-arrow-left-line"></i>Go Back</a>
                    <input class="btn btn--sub btn--lg  my-md" type="submit" value="Confirm" />
                </form>
            </div>
        </div>
    </main>


{% endblock content %}